body {
    background-image: url("../images/yellowking.png");

}
h1 {
    color: red;
    font-size: bold;
}

p {
    color: black;
    font-size: 200%;
}

div {
    font-size: 125%;
    color: yellow;
}

button {
    background-color: blue;
    color: white;
}