.card-body {
    background-image: url("../images/yellowking.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}
h1 {
    color: red;
    font-size: bold;
}

p {
    color: black;
    font-size: 100%;
}

div {
    font-size: 125%;
    color: black;
}

button {
    background-color: blue;
    color: white;
    border-style: hidden;

}

